# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# OS X & Windows
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Git
.git/

# Local environment files
.env

# Landing page
cma-landing